html{
	background: #9a6eff56;
	font: helvetica;
}

.superior{
	width: 1000px
	heigth: 350px;
	background: lightgrey;
}

.superior h1{
	text-align: center;
	font-size: 50px;
	line-height:100px;
}

.general{
	width: 1800px;
	min-height: 780px;
	background: #80a6aff3;
	margin: 20px auto;