p{
	font: ;
}

.general{
	width: 100%;
	height: 100%;
	background: #006d8638;
}

.general p, ul, h3{
	text-align: center;
}

.superior{
	width: 1000px
	height: 350px;
	background: lightgrey;
}

.superior h1{
	text-align: center;
	font-size: 50px;
	line-height:100px;
}

html{
	background: #f4363640;
}